*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box !important;
  overflow: auto !important;
}

.color-red {
  color: #f44336 !important;
}

.tab-link {
  color: #fff;
  padding: 0 20px;
  padding-bottom: 14px;
  text-align: center;

  &-active {
    border-bottom: 1.5px solid #0094ff;
    color: #0094ff;
  }

  &:hover {
    cursor: pointer;
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}
